<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT staff ANY>
<!ATTLIST staff id ID #REQUIRED>
<!ELEMENT volunteer ANY>
<!ATTLIST volunteer id ID #REQUIRED>
<!ELEMENT spaceRental ANY>
<!ATTLIST spaceRental id ID #REQUIRED>
<!ELEMENT donate ANY>
<!ATTLIST donate id ID #REQUIRED>
<!ELEMENT calendar ANY>
<!ATTLIST calendar id ID #REQUIRED>
<!ELEMENT ourStory ANY>
<!ATTLIST ourStory id ID #REQUIRED>
<!ELEMENT board ANY>
<!ATTLIST board id ID #REQUIRED>
<!ELEMENT programs ANY>
<!ATTLIST programs id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1049" key="5e1ae0c9-c969-485d-b04a-3440f5edf07e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-04-15T16:54:02" updateDate="2017-04-15T16:54:02" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1047" nodeTypeAlias="home">
    <programs id="1054" key="362240ca-a684-4c23-a4dd-79f175474455" parentID="1049" level="2" creatorID="0" sortOrder="0" createDate="2017-04-16T11:15:12" updateDate="2017-04-16T12:06:39" nodeName="Programs" urlName="programs" path="-1,1049,1054" isDoc="" nodeType="1053" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1051" nodeTypeAlias="programs" />
    <board id="1071" key="dbd96540-3dbc-46c8-aacd-f73ebb0d280d" parentID="1049" level="2" creatorID="0" sortOrder="1" createDate="2017-04-16T12:00:11" updateDate="2017-04-16T12:00:11" nodeName="Board of Directors" urlName="board-of-directors" path="-1,1049,1071" isDoc="" nodeType="1067" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1066" nodeTypeAlias="board" />
    <ourStory id="1072" key="03f1ca22-8f8e-48e9-949e-33b71173c192" parentID="1049" level="2" creatorID="0" sortOrder="2" createDate="2017-04-16T12:01:07" updateDate="2017-04-16T12:01:14" nodeName="Our Story" urlName="our-story" path="-1,1049,1072" isDoc="" nodeType="1056" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1055" nodeTypeAlias="ourStory" />
    <calendar id="1073" key="89d666fb-d97a-490a-a145-efe29b0fcb7d" parentID="1049" level="2" creatorID="0" sortOrder="3" createDate="2017-04-16T12:02:00" updateDate="2017-04-16T12:02:00" nodeName="Calendar" urlName="calendar" path="-1,1049,1073" isDoc="" nodeType="1058" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1057" nodeTypeAlias="calendar" />
    <donate id="1074" key="ce9f7848-0bf1-493a-a332-b89c864e70d3" parentID="1049" level="2" creatorID="0" sortOrder="4" createDate="2017-04-16T12:02:29" updateDate="2017-04-16T14:09:35" nodeName="Donate" urlName="donate" path="-1,1049,1074" isDoc="" nodeType="1065" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1064" nodeTypeAlias="donate">
      <umbracoNaviHide>1</umbracoNaviHide>
    </donate>
    <spaceRental id="1075" key="2095c35d-4b18-45c0-8953-13b3c5038b91" parentID="1049" level="2" creatorID="0" sortOrder="5" createDate="2017-04-16T12:03:22" updateDate="2017-04-16T12:03:22" nodeName="Space Rental" urlName="space-rental" path="-1,1049,1075" isDoc="" nodeType="1060" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1059" nodeTypeAlias="spaceRental" />
    <volunteer id="1076" key="bac229ad-5aaa-4dd1-baaf-cd63768fead8" parentID="1049" level="2" creatorID="0" sortOrder="6" createDate="2017-04-16T12:04:20" updateDate="2017-04-16T12:04:39" nodeName="Volunteer" urlName="volunteer" path="-1,1049,1076" isDoc="" nodeType="1062" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1061" nodeTypeAlias="volunteer" />
    <staff id="1077" key="6d667b6e-36f8-49d7-945e-091ba5492919" parentID="1049" level="2" creatorID="0" sortOrder="7" createDate="2017-04-16T12:05:07" updateDate="2017-04-16T12:05:07" nodeName="Staff" urlName="staff" path="-1,1049,1077" isDoc="" nodeType="1070" creatorName="Brian Frederick" writerName="Brian Frederick" writerID="0" template="1069" nodeTypeAlias="staff" />
  </home>
</root>