<div class="container">
</div>
<div class="mission-footer-container">
    <div class="container">
        <!-- container -->
        <div class="row">
            <div class="col-sm-12">
                <p class="mission-footer-statement">At HPNC children from all backgrounds thrive in a supportive, enriching, and diverse environment.</p>
                <br>
                <div class="mission-btn-wrap">
                    <a href="~/volunteer" class="mission-vol mission-vol-btn">VOLUNTEER</a>
                    <a href="~/donate" class="mission-vol mission-don-btn">DONATE</a>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</div>
<!-- Javascripts -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="footer-container">
    <div class="container">
        <!-- container -->
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <img class="footer-logo" src="~/media/BasePics/hpnc-logo-fam.png" alt="Learn, Thrive, Grow">
            </div>
            <div class="col-sm-4 col-xs-12">
                <h5>ABOUT US</h5>
                <hr class="footer-hr-top">
                <!-- <p class="foot-contact-shim"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;&nbsp;<a class="footer-link" href="~/board-documents" title="Board Documents">Board Documents</a></p> -->
                <p class="foot-contact-shim"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<a class="footer-link" href="@umbraco.library.NiceUrl(1164)" title="Board of Directors">Board of Directors</a></p>
                <p class=" foot-contact-shim"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<a class="footer-link" href="@umbraco.library.NiceUrl(1122)" title="Staff Directory"> Staff Directory</a></p>
                <p class="foot-contact-shim"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp;&nbsp;<a class="footer-link" href="@umbraco.library.NiceUrl(1122)" title="Newsletters">Newsletters</a></p>
                <p class="foot-contact-shim"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;<a class="footer-link" href="@umbraco.library.NiceUrl(1122)" title="Annual Report">Annual Report</a></p>
                <hr class="footer-hr">
                <div class="foot-contact-shim">
                    <form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post">
                        <p>Subscribe to email updates</p>
                        <input class="emaillist-inputfield" name="ea" size="16" value="" type="text">
                        <input class="emaillist-submit" name="go" value="Submit" style="color:#000" type="submit">
                        <input name="llr" value="wvpuonoab" type="hidden">
                        <input name="m" value="1114995572406" type="hidden">
                        <input name="p" value="oi" type="hidden">
                    </form>
                </div>
                <hr class="footer-hr">
				<div class="footer-social">
					Follow Us:
					<a href="https://www.facebook.com/HydeParkNC" class="footer-social-icon">Facebook</a> 
					<a href="https://www.instagram.com/hpnclub" class="footer-social-icon">Instagram</a> 
					<a href="https://twitter.com/hydeparknc" class="footer-social-icon">Twitter</a> 
				</div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <h5>CONTACT</h5>
                <hr class="footer-hr-top">
                <p class="foot-contact-shim"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;<a class="footer-link" href="tel:7736434062"> 773-643-4062</a> (p)</p>
                <p class="foot-contact-shim"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;&nbsp;773-643-4262 (f)</p>
                <p class=" foot-contact-shim"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;<a class="footer-link" href="mailto:info@hpnclub.org" target="_blank" title="Contact Us"> Contact Us</a></p>
                <p class="foot-contact-shim"><span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp;&nbsp;<a class="footer-link" href="https://goo.gl/maps/PfHhg4jTpWQ2" target="_blank">  Directions</a></p>
                <hr class="footer-hr">
                <p class="foot-contact-shim">
                    <a class="footer-link" href="https://goo.gl/maps/PfHhg4jTpWQ2" target="_blank">
                        Hyde Park Neighborhood Club
                        <br>5480 South Kenwood Avenue
                        <br>Chicago, Illinois 60615
                    </a>
						<br>
						<br>EIN #36-2182044


                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="footer-details">
                    &copy; 2016
                    <script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> Hyde Park Neighborhood Club
                </p>
            </div>
        </div>
    </div> <!-- /container -->
</div>


