/*
	
MAIN COLORS
blue: #008fb0
green: #c1d72f
dark orange: #f26531
light orange: #fdbb30
GRAYS
light gray: #919195
medium gray: #bec0c2
dark gray: #5f6062
Shades for Programs:
blue1: #00cfff
blue2: #00687f
	
	
*/

/* PROGRAM LANDING PAGE*/	

.programs-topnav {
    text-align:center;            
    width:100%;
    margin:40px auto;
    display:block;
}
.programs-topnav a {
    text-align:center;            
}
.programs-item-wrap {
    margin:20px 0;
               
}
.programs-imglink {
    display:inline-block;
    width:130px;
    vertical-align:top;
    max-height: 130px;
}
.programs-title {
    display:inline-block;
    max-width:170px;
    padding-left:10px;
    font-size:18px;
}
 
.programs-tag {
    background-color:#008fb0;
    color:white;
    border-radius:6px;
    padding:4px 6px;
    font-size:14px;
}
 
.programs-sectiontitle {
    text-align:left;
    font-size:20px;
    font-weight:bold;           
    color:#5f6062;
               
}
/*END PROGRAM LANDING PAGE*/	

/*TIMELINE STYLES*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #bec0c2 !important;
}

.timeline-badge.green {
  background-color: #c1d72f !important;
}

.timeline-badge.orange {
  background-color: #f26531 !important;
}

.timeline-badge.blue {
  background-color: #008fb0 !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
/* END TIMELINE*/


/* Header Navbar*/

.navbar {
	color:#fff;
	background-color:#5f6062;
	border-radius:0px;
	border: none;
	margin-left:0;
	margin-right:0;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-nav > li {
    margin-right: 2.75em;
}

.navbar-nav > li a {
    float: left;
    color:#fff;
	text-transform:uppercase;
}

#navbar-items {
    min-width: 92% !important;
    padding-right: 90px;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:#f26531;
	background-color:#5f6062;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color:#fff;
	background-color:#5f6062;
}
.dropdown-menu {
	background-color:#008fb0;
}

.dropdown:hover .dropdown-menu {
	display: block;
}
.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    border-color:#fff;
    width: 22px;
}

.icon-bar {
    background: #fff none repeat scroll 0 0;
}

.topnav-logo {
	max-width:180px;
	display:inline-block;
	padding:8px 0;
	
}

.topnav-logo-fam {
	float:right !important;
	display:inline-block;
	max-width:210px;
}

@media (max-width: 768px) {
    .navbar-nav > li {
        margin-right: 0;
        border-top: white solid 1px;
    }
    .topnav-logo-fam {
        display: none;
    }

    .topnav-donate {
        display: none;
    }

    .navbar-nav > li a {
        float: none;
    }

    #navbar-items {
        position: absolute;
        top: 43px;
        z-index: 100;
        width: 100%;
        padding-right: 0px;
        background-color: #5f6062;
    }
}

.topnav-donate-btn {
	background-color:#f26531;
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
    position: absolute !important;
    right: 0;
}

.topnav-donate > li {
    margin-right: 0px;
}


.topnav-donate-btn:hover, .topnav-donate-btn:focus {
    color: #fff !important;
	background-color:#f65216 !important;
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
}

.topnav-donate-btn-mobile {
	background-color:#f26531;
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
    padding:12px 20px;
    color:#fff;
    display:none;
    float:right;
}

@media (max-width: 768px) {
	.topnav-donate-btn-mobile {
    	display:inline-block;
    	margin-top:34px;
	}
}

/* End Header Navbar*/

/* Footer */

.mission-footer-container {
	background-color:#ddd;
	padding-top:30px;
	padding-bottom:30px;
	margin-top:20px;
}

.mission-btn-wrap {
	display:block;
	width:440px;
	margin:0 auto;
}



.mission-footer-statement {
	text-align:center;
	font-family: 'Josefin Slab', serif;
	max-width:600px;
	font-size:24px;
	margin:0 auto;
	
}
.mission-vol {
	display:inline-block;
	padding:16px 30px;
	color:#fff;
	width:200px;
	text-align:center;
	font-size:18px;
	text-transform:uppercase;	
	-webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
}
.mission-vol:hover {
	color:#fff;
	text-decoration:none;
	cursor:pointer;
    -webkit-transition: 0.4s; /* Safari */
    transition: 0.4s;
    }
.mission-vol-btn {
    background-color: #fdbb30;
    margin-right: 30px;
    border-radius: 50px;
}
.mission-vol-btn:hover {background-color:#f6ac10;}
.mission-don-btn {
    background-color: #f26531;
    border-radius: 50px;
}
.mission-don-btn:hover {background-color:#ee480a;}

@media (max-width: 500px) {
	.mission-btn-wrap {
		width:100%;
	}
	.mission-vol {
		display:block;
		margin:0 auto;
	}
	.mission-don-btn {
        margin-top:20px;

	}
}



.footer-container {
	background:#5f6062;
	color:#fff;
	padding-top:40px;
	padding:10px 0;
}
.footer-li {
	list-style-type: none;
}


.footer-hr-top {
	border-width: 3px 0 0;
	margin-bottom: 8px;
    margin-top: 8px;
}

.footer-hr {
	margin-bottom: 10px;
    margin-top: 10px;
}

.foot-contact-shim {
	margin-left:28px;
}

.footer-link {
	color:#fff;	
}

.footer-link:hover {
	color:#fff;	
}
.guidestar-logo {
	display:block;
	margin:0 auto;
}
.guidestar-text {
	color:#fff;
	text-align:center;
	margin-top:18px;
}

.rttable table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.rttable table th,
.rttable table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.rttable table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.rttable table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.rttable table .rttable table {
  background-color: #fff;
}

.footer-li li a {color:#fff;}
.footer-li li a:hover, .footer-li li a:focus {color:#fff;}
.footer-details {text-align:center; font-size:13px;margin-top:20px;}

.footer-logo {
	margin:88px auto 0 auto; 
	width:210px; 
	display:block;
}	

@media (max-width: 768px) {
	.footer-logo {
		margin-top:30px;
	}
}
	
.emaillist-submit {
	border:none;
	background:#fff;
	height:28px;
	margin-top:-1px;
}
.emaillist-inputfield {
	padding-left:16px; 
	font-size:1em; 
	border:none; 
	height:28px; 
	color:#000;
	margin-top:1px;
	border-bottom:2px #fff solid;
}

.home-title-header {
    font-size: 45px;
    font-weight: 700;
    text-align: center !important;
}

a.home-title {
    color:#fdbb30;
    padding-bottom: 25%;
    position: absolute;
    z-index: 100;
}
a.home-title-link:hover {
    color:#f26531;
    padding-bottom: 35%;
    text-decoration: none !important;
}

.home-title-link {
    color:white;
}
.campHeaders {text-align:center;}
.campButton {text-align:right;}
.campBottom {text-align:center;}

.home-featured-content {
    position: relative;
    overflow: hidden;
    width: 80%;
    border-radius: 100%;
    border: 4px solid white;
}

.hpnc-tile {
    margin-bottom: 25px;
    padding: 10px 0;
    text-align: center;
    background-image: url("/media/basePics/hpnc_texture_1.jpg") !important;
}

.hpnc-tile-container div:nth-child(2) > .hpnc-tile {
    background-image: url("/media/basePics/hpnc_texture_2.jpg") !important;
}

.hpnc-tile-container div:nth-child(3) > .hpnc-tile {
    background-image: url("/media/basePics/hpnc_texture_3.jpg") !important;
}

.hpnc-tile-container div:nth-child(4) > .hpnc-tile {
    background-image: url("/media/basePics/hpnc_texture_2.jpg") !important;
}

.hpnc-tile-container div:nth-child(5) > .hpnc-tile {
    background-image: url("/media/basePics/hpnc_texture_3.jpg") !important;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 600px;
	list-style: none;
	text-align: center;
}

@media (max-width: 768px) {
.grid {
	width:90%;
	margin:0 auto;
	display:block;
	padding-left:5%;
	padding-right:5%;
	float:none;
	}
}



/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	background: #fff;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.effect-honey {
	background: #000;
}
@media (max-width: 768px) {
	figure.effect-honey {
		background: #000;
	}
}


figure.effect-honey img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: 0.8s; /* Safari */
    transition: 0.8s;
}

figure.effect-honey:hover img {
  filter: none;
  -webkit-filter: grayscale(100%);
    -webkit-transition: 0.8s; /* Safari */
    transition: 0.8s;
}

/*figure.effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #fff;
	content: '';
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}*/

figure.effect-honey h2 {
	position: absolute;
	bottom: 20%;
	left: 0;
	padding: 1em 1.5em;
	width: 100%;
	text-align: left;
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

@media (max-width: 768px) {
    figure.effect-honey h2 {
        bottom: 25%;
        padding: 0;
    }
}


figure.effect-honey figcaption::before,
figure.effect-honey h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.program-title {
	font-size:20px;
	line-height:28px;

}

.row-centered {
    text-align:center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.bio-image{
    margin-top: 30px;
    max-height:130px;
    max-width:130px;
}
.bio-description{
    font-size: 11px;
}
.circular-image {
    border-radius: 100%;
}

/* Donation Page*/

.sq-input {
    border: 1px solid rgb(223, 223, 223);
    outline-offset: -2px;
    margin-bottom: 5px;
}

.sq-input--focus {
    /* Indicates how form inputs should appear when they have focus */
    outline: 5px auto rgb(59, 153, 252);
}

.sq-input--error {
    /* Indicates how form inputs should appear when they contain invalid values */
    outline: 5px auto rgb(255, 97, 97);
}	
.donation-input {
    float:left;
    margin-right: 1em;
}
.donation-error {
    color: red;
    border-color: red;
}
.donation-header {
    margin-left: 8.6%;
    text-align: center;
    color: #f26531;
}
.donation-legal{
    margin-top: 20px;
    font-size: 12px;
    font-style: italic;
}
.validation-summary-errors {
    color: red;
    border-color: red;
    list-style: none;
}
.validation-summary-errors > ul{
    list-style: none;
}
.validation-summary-errors > ul > li{
    font-size: 10px;
}
.board-documents-link {
    margin-top: 20px;
}
/**Board Page*/
.board-documents {
    margin: 15px 0 5px;
}

.board-documents > a > .glyphicon-file {
    color: #008fb0;
    margin-right: 5px;
}

/**Start Volunteer Page*/
.centered-google-form > p > iframe {
    max-width: 675px;
}

/**Start Our Story Page*/
.our-story-tile-container {
    width: 75%;
}
@media (max-width: 1200px) {
    .our-story-tile-container {
        width: 100%;
    }
}

/**TileSetHeader Partial (for program pages etc)*/

.page-title {
    text-align: center;
}

.page-subtitle {
    text-align: center;
    font-size: 16px;
}

.hpnc-header-tile {
    text-align: center;
    margin-bottom: 25px;
    padding: 10px 0;
}

.green-theme > div > .hpnc-header-tile {
    background-color: #c1d72f;
}

.orange-theme > div > .hpnc-header-tile {
    background-color: #f26531;
}

.blue-theme > div > .hpnc-header-tile {
    background-color: #008fb0;
}

.yellow-theme > div > .hpnc-header-tile {
    background-color: #fdbb30;
}

.gray-theme > div > .hpnc-header-tile {
    background-color: #bec0c2;
}

@media (max-width: 991px) {
    .hpnc-tile-container div:nth-of-type(3) > .hpnc-header-tile {
        display: none;
    }
}

@media (max-width: 768px) {
    .hpnc-tile-container div:nth-of-type(1) > .hpnc-header-tile {
        display: none;
    }
}