@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web

@if (Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("SubmitLogout", "Member", System.Web.Mvc.FormMethod.Post, new { id = "logout" }))
    {
        @Html.AntiForgeryToken()
        var myUser = System.Web.Security.Membership.GetUser();
        if (myUser != null)
        {
            <p><strong>Logged in as</strong> <span>@myUser.UserName</span></p>
            <button name="login" type="submit"><span>logout</span> <i class="fa fa-arrow-right"></i></button>
        }
    }
}
