@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}
i am donate

<body>
 
   @if (Convert.ToBoolean(TempData["DonationSuccessful"]))
   {
    <div class="row">
        @Umbraco.Field("confirmationMessage")
    </div>
   }
   else
   {
    <div class="row">
        <div style="margin:0 25%" class="col-sm-6">
            @{Html.RenderAction("RenderDonationForm", "DonationFormSurface");}
        </div>
    </div>
    }
    


    <div class="row">
        @Umbraco.Field("donationTaxInfo")
    </div>
</body>