@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "WebBase.cshtml";
}
i am donate

<body>
    @*<div class="row">
        @Umbraco.Field("donationAppeal")
    </div>*@

    <div class="row">
        <div style="margin:0 25%" class="col-sm-6">
                @{Html.RenderAction("RenderDonationForm", "DonationFormSurface");}
            </div>
    </div>


    @*<div class="row">
        @Umbraco.Field("donationTaxInfo")
    </div>*@
</body>