@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<div class="container">
    <div class="container">
        <h2>History of HNPC</h2>
        <ul class="timeline">
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1909 - Allen Hoben and others found ‘Hyde Park Center’ </h4>
                        <img class="hidden-xs" src="~/Media/About/1909.png" />
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge orange"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1917 - Early Athletics "...instill spirit of fair play."</h4>
                        <img class="hidden-xs" src="~/Media/About/1917.png" />
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge green"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1939 - 20th Anniversary Celebration</h4>
                        <img class="hidden-xs" src="~/Media/About/1939.png" />
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1950 - HPNC gets a New Building</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge blue"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1959 - HPNC held car repair classes. The participants called themselves the Autocrats.</h4>
                        <img class="hidden-xs" src="~/Media/About/1957.jpg" />
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge green"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1960 - Early Childhood Dramatic Play</h4>
                        <img class="hidden-xs" src="~/Media/About/1960.jpg" />
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1963 - TotLot Moms</h4>
                        <img class="hidden-xs" src="~/Media/About/1963.png" />
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge orange"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">1984 - In celebration of HPNC's 75th anniversary, Chicago Mayor Harold Washington declared May 18th to be HPNC Day.</h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge blue"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-heading">2003 - Pancake Breakfast welcomes special guest, State Senator Barack Obama.</h4>
                        <img class="hidden-xs" src="~/Media/About/2003.png" />
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge green"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">2011 - Unveiling of new look and feel.</h4>
                        <img class="hidden-xs" src="~/Media/About/2011.png" />
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge blue"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">HPNC TODAY</h4>
                        <img class="hidden-xs" src="~/Media/About/today.png" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>