@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}
<div class="container">
    @{Html.RenderAction("RenderTileSetHeader", "Member");}
    @Umbraco.Field("corePageContent")
</div>